* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-area {
  background-color: #f6ebda;
}

.header {
  background-color: #f6ebda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 1161px;
  height: 44px;
  margin-top: 20px;
  position: relative;
  z-index: 3;
}

.nav-item {
  display: flex;
  justify-content: space-between;
}

.manu {
  display: flex;
  justify-content: space-between;
}

.manu ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.manu ul li {
  list-style: none;
}
.manu ul li a {
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.search-container {
  background: #ffffff;
  width: 200px;
  padding: 11px 15px;
  border-radius: 30px;
}
.search-container button {
  border: none;
  background-color: #ffffff;
  margin-right: 7px;
}
.search-container input {
  border: none;
  width: 80px;
}

.hero-area {
  position: relative;
  margin-top: 140px;
  z-index: 1;
}

.bg-img-hero {
  position: absolute;
  top: -190px;
  right: -200px;
}

.hero {
  width: 1161px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.hero-title {
  width: 489px;
}
.hero-title h1 {
  font-size: 48px;
  font: bold;
  color: #2f2105;
}
.hero-title h1 span {
  color: #ff902b;
}
.hero-title p {
  margin-top: 24px;
  width: 310px;
  font-size: 18px;
  font: normal;
  color: #7e7d7a;
}
.button-area {
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 26px;
}
.button-area button {
  padding: 12px 32px;
  text-align: center;
  align-items: center;
  background-color: #2f2105;
  color: #ffffff;
  border-radius: 33px;
  display: flex;
  gap: 10px;
}
.button-area button span {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff902b;
  border-radius: 50%;
}
.button-area button span i {
  width: 12px;
  height: 12px;
  font-size: 12px;
  margin-right: 5px;
}

.button-more {
  padding: 10px 24px;
  color: #f4ae26;
  font-size: 12px;
  font: bold;
}

.hero-img-sec {
  width: 500px;
  height: 500px;
  background-color: #2f2105;
  border-radius: 50%;
  position: relative;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-card1 {
  width: 217px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 42px;
  flex-wrap: wrap;
  padding: 20px 30px;
  border: solid 5px rgba(218, 218, 218, 0.5);
  font-size: 24px;
  position: absolute;
  top: 0;
}
.hero-card2 {
  width: 150px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 42px;
  flex-wrap: wrap;
  border: solid 5px rgba(218, 218, 218, 0.5);
  padding: 20px 30px;
  font-size: 24px;
  position: absolute;
  top: 200px;
  right: -90px;
}
.hero-card3 {
  width: 155px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border: solid 5px rgba(218, 218, 218, 0.5);
  border-radius: 42px;
  flex-wrap: wrap;
  padding: 20px 30px;
  font-size: 24px;
  position: absolute;
  left: 20px;
  bottom: 30px;
}

.card-area {
  display: flex;
  justify-content: center;
  background-color: #f8d8a9;
}

.cardin3 {
  display: flex;
  gap: 38px;
}
.card {
  width: 355px;
  height: 385px;
  border: solid 5px #ede8e1;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 30px 24px;
}

.card-img img {
  width: 306px;
  height: 226px;
  object-fit: cover;
}

.card-text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.card-button {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.card-button button {
  font-size: 16px;
  font-weight: bold;
  padding: 6px 17px;
  border-radius: 8px;
}

.buttton1 {
  color: #ff902b;
  border-color: #ff902b;
  margin-right: 24px;
}
.buttton2 {
  color: #ffd28f;
  border-color: #ffd28f;
}
.card-button span {
  background-color: #ff902b;
  padding: 12px 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
